In [3]:
# question 1
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [4]:
# question 2

# part a 
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

#part b
#observations: individual units or entities in a dataset that are recorded or measured. 
#variables: Variables are characteristics or attributes of the observations that are measured or recorded.

Number of rows: 391
Number of columns: 11

In [9]:
#question 3

# Check for missing values
print(df.isna().sum())
# Describe the dataset (for numeric data)
print(df.describe())
#empty line
print()
# Use value_counts() on a specific column ('sex')
print(df['sex'].value_counts())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

sex
male      577
female    314
Name: count, dtype: int64

In [11]:
# question 4 

# Shape of the dataset
print(df.shape)  # Returns the total number of rows and columns 

#Describe only numeric columns
df['deck'].value_counts()

# df. shape is to collect the data together in row and colum.
#df describle() means to calculate Categorical variables

(891, 15)

deck
C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: count, dtype: int64

In [ ]:
#Question 5
# Attributes: provide information about the object and are accessed directly without parentheses.
# Without parentheses because we are directly retrieving stored information.
# Methods are functions associated with the object that perform operations or computations and are called with parentheses.
# using parentneses because we need to instructing the object to perform an action, such as summarizing, filtering, or modifying data.

In [7]:
 #question 6
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [16]:
# question 7 

# part 1/ part 2
# Drop rows with any missing values
df_cleaned = df.dropna()
#example: df.dropna() is preferred if the dataset has several rows with missing values ​​spread across different columns. For example, a survey dataset with occasional missing responses, but most of the data is complete.

# Remove the entire column
del df['deck']
#If a particular column has a large number of missing values. For example, more than 80% of the entries in the column are missing
# Print the shape before and after

#part 3
#It may be important to apply del df['col'] before df.dropna() as it will remove specific columns that may contain unnecessary or problematic data before deleting rows with missing values.

Original shape: (891, 14)
Cleaned shape: (182, 15)

In [20]:
#part 4

# Print the original shape
# Check missing values
missing_values_before = df.isna().sum()
print("Missing values before any cleaning:")
print(missing_values_before)

# Remove the 'age' column
if 'age' in df.columns:
    del df['age']
    
# Drop rows with any remaining missing values
df_cleaned = df.dropna()

# Check missing values after cleaning
missing_values_after = df_cleaned.isna().sum()
print("\nMissing values after cleaning:")
print(missing_values_after)

Missing values before any cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64

Missing values after cleaning:
survived       0
pclass         0
sex            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [3]:
# question 8 

# 1
# The df.groupby("col1")["col2"].describe() : count, mean, std, min/max and 25, 50, 75, 100
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
import pandas as pd

df = pd.read_csv(url)

grouped_description = df.groupby("embarked")["fare"].describe()

print(grouped_description)

          count       mean        std     min       25%    50%        75%  \
embarked
C         168.0  59.954144  83.912994  4.0125  13.69795  29.70  78.500025
Q          77.0  13.276030  14.188047  6.7500   7.75000   7.75  15.500000
S         644.0  27.079812  35.887993  0.0000   8.05000  13.00  27.900000

               max
embarked
C         512.3292
Q          90.0000
S         263.0000

In [ ]:
# 2
# df.dropna(subset=['FeedbackScore']) only delete mising value
#del df['col'] delete all data

In [ ]:
# 3A
#Code Example:
#df = pd.read_csv('titanic.csv')
#Error Message:
#NameError: name 'pd' is not defined

#3B
#1. Mistyped Filename
#Code Example:
#df = pd.read_csv('titanics.csv')
#Error Message:
#FileNotFoundError: [Errno 2] No such file or directory:

# 2. Mistyped Directory Path
#Code Example:
#df = pd.read_csv('data/titanic.csv')
#Error Message:
#FileNotFoundError: [Errno 2] No such file or directory: 'data/titanic.csv'

#3. Typo in URL Path (for online files)
#Code Example:
#df = pd.read_csv('http://example.com/titanics.csv')
#Error Message:
#HTTPError: 404 Client Error: Not Found for url: http://example.com/titanics.csv

#3c
#Incorrect Code (Variable Name Error):

#import pandas as pd
#df = pd.read_csv('titanic.csv')
#result = DF.groupby("col1")["col2"].describe()

#3D
#Incorrect Code (Missing Parenthesis):
#import pandas as pd
#df = pd.read_csv('titanic.csv'

#3E
#Incorrect Code 1 (Mistyped Method Name):
#import pandas as pd
#df = pd.read_csv('titanic.csv')
#result = df.group_by("col1")["col2"].describe()

#3F
#Incorrect Code 1 (Mistyped Groupby Column Name):
#import pandas as pd
#df = pd.read_csv('titanic.csv')
#result = df.groupby("Sex")["age"].describe()

#3G
#Incorrect Code 1 (Missing Quotes in groupby):
#import pandas as pd
#df = pd.read_csv('titanic.csv')
#result = df.groupby(sex)["age"].describe()

In [ ]:
# question 9 : yes

#chatbox link: 
#https://chatgpt.com/share/f1b21938-36fc-4436-ae95-ae2bc103aaba
#https://chatgpt.com/share/b031bd6d-928e-4fa3-8692-e312adff3dfc