In [3]:
# question 1
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [4]:
# question 2

# part a 
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

#part b
#observations: individual units or entities in a dataset that are recorded or measured. 
#variables: Variables are characteristics or attributes of the observations that are measured or recorded.

Number of rows: 391
Number of columns: 11

In [8]:
#question 3
print(df.describe())# 算所有的数值， standard deviation
#print(df['species'].value_counts())# 只算一种，提供分类列中唯一值的计数

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [6]:
# question 4 
df['personality'].value_counts()

# df. shape is to collect the data together in row and colum.
#df describle() means to calculate Categorical variables

personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [ ]:
#Question 5
# Attributes: provide information about the object and are accessed directly without parentheses.
# Methods are functions associated with the object that perform operations or computations and are called with parentheses.

In [7]:
 #question 6
print(df.describe())

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [8]:
# question 7 

# part a
# Drop rows with any missing values
df_cleaned = df.dropna()

# Print the shape before and after
print(f"Original shape: {df.shape}")
print(f"Cleaned shape: {df_cleaned.shape}")

Original shape: (391, 11)
Cleaned shape: (379, 11)

In [14]:
# Remove a column with many missing values
del df['col_missing_values_of_wage']

# Print the shape after column removal
#print(f"Shape after column removal: {df.shape}")

KeyError: 'col_missing_values_of_wage'

In [10]:
# Print the original shape
print(f"Original shape: {df.shape}")

# Identify columns with more than 50% missing values
missing_data = df.isna().mean()
columns_to_drop = missing_data[missing_data > 0.5].index

# Remove those columns
df_cleaned_columns = df.drop(columns=columns_to_drop)

# Drop rows with any missing values in the remaining dataset
df_cleaned = df_cleaned_columns.dropna()

# Print the shape after column removal and row cleaning
print(f"Shape after removing columns with >50% missing values: {df_cleaned_columns.shape}")
print(f"Shape after dropping remaining rows with missing values: {df_cleaned.shape}")

Original shape: (391, 11)
Shape after removing columns with >50% missing values: (391, 11)
Shape after dropping remaining rows with missing values: (379, 11)

In [3]:
# question 8 

# 1
# The df.groupby("col1")["col2"].describe() : count, mean, std, min/max and 25, 50, 75, 100
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
import pandas as pd

df = pd.read_csv(url)

grouped_description = df.groupby("embarked")["fare"].describe()

print(grouped_description)

          count       mean        std     min       25%    50%        75%  \
embarked
C         168.0  59.954144  83.912994  4.0125  13.69795  29.70  78.500025
Q          77.0  13.276030  14.188047  6.7500   7.75000   7.75  15.500000
S         644.0  27.079812  35.887993  0.0000   8.05000  13.00  27.900000

               max
embarked
C         512.3292
Q          90.0000
S         263.0000

In [ ]:
# 2
# df.dropna(subset=['FeedbackScore']) only delete mising value
#del df['col'] delete all data

In [ ]:
# 3A
#Code Example:
#df = pd.read_csv('titanic.csv')
#Error Message:
#NameError: name 'pd' is not defined

#3B
#1. Mistyped Filename
#Code Example:
#df = pd.read_csv('titanics.csv')
#Error Message:
#FileNotFoundError: [Errno 2] No such file or directory:

# 2. Mistyped Directory Path
#Code Example:
#df = pd.read_csv('data/titanic.csv')
#Error Message:
#FileNotFoundError: [Errno 2] No such file or directory: 'data/titanic.csv'

#3. Typo in URL Path (for online files)
#Code Example:
#df = pd.read_csv('http://example.com/titanics.csv')
#Error Message:
#HTTPError: 404 Client Error: Not Found for url: http://example.com/titanics.csv

#3c
#Incorrect Code (Variable Name Error):

#import pandas as pd
#df = pd.read_csv('titanic.csv')
#result = DF.groupby("col1")["col2"].describe()

#3D
#Incorrect Code (Missing Parenthesis):
#import pandas as pd
#df = pd.read_csv('titanic.csv'

#3E
#Incorrect Code 1 (Mistyped Method Name):
#import pandas as pd
#df = pd.read_csv('titanic.csv')
#result = df.group_by("col1")["col2"].describe()

#3F
#Incorrect Code 1 (Mistyped Groupby Column Name):
#import pandas as pd
#df = pd.read_csv('titanic.csv')
#result = df.groupby("Sex")["age"].describe()

#3G
#Incorrect Code 1 (Missing Quotes in groupby):
#import pandas as pd
#df = pd.read_csv('titanic.csv')
#result = df.groupby(sex)["age"].describe()

In [ ]:
# 9 : yes